page-select-interest {
    ion-title {
        h2 {
            font-size: 15px;
            margin: 0;
        }
        p {
            font-size: 8px;
            margin: 0;
        }
    }
    .item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0); 
    }
    .city-row {
        align-items: center;
        ion-col:nth-child(odd) {
            padding-right: 1px !important;
        }
        ion-col:nth-child(even) {
            padding-left: 1px !important;
        }
        img {
            float: left;
            display: block;
        }
    }
    .add-icon {
        font-size: 20px;
    }
    
}
